/**
 *
 * Stylesheet for MDEdit
 *
 */

QTextBrowser#HTMLPreview
{
	background: #F5F5F5;
}

QStatusBar#StatusBar
{
	font-family: "DejaVu Serif";
	font-size: 8pt;
}

.MarkdownEditor
{
	font-family: "DejaVu Sans Mono";
	font-size: 10pt;
}

.LineNumberWidget
{
	color: #626262;
}
